<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <!-- Check if the cart.items has non null length -->
            <!-- If it does, render all the cart items in an unordered list -->
            <!-- If it doesn't, render a message that says "Your cart is empty" -->
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(function(item) { %>
                        <li>
                            <p>
                                <%- item.name %>
                                (<%- item.cartItem.quantity %>)
                            </p>

                            <form action="/cart-delete-item" method="post">
                                <input type="hidden" name="productId" value="<%= item.id %>">
                                <button type="submit" class="btn">Delete</button>
                            </form>
                          
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>Your cart is empty</p>
            <% } %>


        </main>

        <%- include('../includes/end.ejs') %>