<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
          <!-- Render product detail -->
          <!-- The template receives the product detail through the product property -->
          <h1>
            <%- product.title %>
          </h1>
          <hr>
          <div>
            <img class="image" src="<%- product.imageUrl %>" alt="<%- product.title %>">
          </div>
          <h2>
            <%- product.price %>
          </h2>
          <p>
            <%- product.description %>
          </p>
   <% if(isLoggedIn) { %>
          <form action="/shop/add-to-cart" method="post">
            <input type="hidden" name="productId" value="<%- product.id %>">
            <input name="_csrf" type="hidden" value="<%= csrfToken %>">

            <input type="submit" value="Add to cart">
          </form>
    <% } %>
        </main>
        <%- include('../includes/end.ejs') %>